body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 100px 650px 1fr;
  width: 100%;
  height: 100vh;
  font-family: 'Press Start 2P', cursive;
}

.game-status {
  background-color: black;
  display: flex;
  align-content: flex-end;
  justify-content: space-around;
  grid-template-rows: 1 / span 1;
  padding: 20px 125px 0 125px;
}

h3 {
  font-size: 1.25rem;
}

.p1-lives, .p2-lives {
  margin-left: 30px;
  font-size: 1.25rem;
}

.logo {
  height: 75px;
}

.game-map {
  display: flex;
  align-content: center;
  justify-content: center;
  grid-template-rows: 2 / span 1;
  background-color: black;
}

#game {
  border: 5px solid #c2ffff;
  margin: auto;
  display: block;
  width: 1200px;
  height: 600px;
  background: url("./assets/grid_pattern.png") no-repeat center;
  border-radius: 2px;
  -moz-box-shadow:    inset 0 0 30px #c2ffff;
  -webkit-box-shadow: inset 0 0 30px #c2ffff;
  box-shadow:         inset 0 0 30px #c2ffff;
}



.start-screen {
  display: none;
}

.game-controls {
  align-content: center;
  background-color: white; 
  display: flex;
  justify-content: space-around;
  grid-template-rows: 3 / span 1;
  padding: 0 100px 0 100px; 
}

.player-one, .player-two {
  display: flex;
  color: #0000ff;
  align-self: center;
  text-align: center;
}

